<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="GS1DigitalLinkToolkit.js"></script>
<script type="text/javascript" src="dist/bwip-js-min.js"></script>
<script language="javascript">

var s4tPrimaryIdentifiers=[
{"code":'01',"label":'GTIN',"grouping":'PrimaryIdentifiers',"datatype":"xsd:string","definition":'Global Trade Item Number (GTIN)',"example":"09506000134376","percentEncoded":false,"pattern":"[0-9]{14}"}
];



var s4tTermsES=[
{"code":'17',"label":'Expiration date',"grouping":'Dates',"datatype":"xsd:date","definition":"Expiration date","example":"2024-03-31","percentEncoded":false,"orderES":0,"orderDL":9},
{"code":'22',"label":'Consumer Product Variant',"grouping":'KeyQualifiers',"datatype":"xsd:string","definition":'Consumer Product Variant',"example":"EFG456","percentEncoded":false,"maxLength":20,"orderES":1,"orderDL":1},
{"code":'10',"label":'Batch/Lot',"grouping":'KeyQualifiers',"datatype":"xsd:string","definition":'Batch/Lot ID',"example":"ABC123","percentEncoded":false,"maxLength":20,"orderES":1,"orderDL":2},
{"code":'21',"label":'Serial number',"grouping":'KeyQualifiers',"datatype":"xsd:string","definition":'Serial number',"example":"987XYZ","percentEncoded":false,"maxLength":20,"orderES":1,"orderDL":3}
];


function onWhat(parameter) {
    return function(a,b) {
        return (b.parameter - a.parameter);
    }
}


function filterByGrouping(grouping) {
    return function(element) {
        return  element.grouping==grouping;
    };
}

function filterExcludeGrouping(grouping) {
    return function(element) {
        return  element.grouping!==grouping;
    };
}


function filterByLabel(id) {
    return function(element) {
        return  element.label==id;
    };
}

function filterExcludeLabel(id) {
    return function(element) {
        return  element.label!==id;
    };
}

function gs1date(xsdDate) {
	return xsdDate.replace(/\d\d(\d\d)-(\d\d)-(\d\d)/,"$1$2$3");
}

function gs1dateTime(xsdDateTime) {
	return xsdDateTime.replace(/\d\d(\d\d)-(\d\d)-(\d\d)T(\d\d):(\d\d)/,"$1$2$3$4$5");
}

function gs1measurement(val) {
	var ndp=0;
	var rv={};
	var numeric="";
	if (val.indexOf(".")> -1) {
		var parts=val.split(".");
		ndp=parts[1].length;
		numeric=parts[0]+parts[1];
	} else {
		numeric=val;
	}
		if (numeric.length < 6) {
		numeric="0".repeat(6-numeric.length)+numeric;
	}
	
	rv.ndp=ndp;
	rv.sixdigit=numeric;
	return rv;
}

function processS4Tarray(terms) {
	var orderedKeys=[];
	var obj={};
	var rv={};
	terms.forEach(function(element) {
			orderedKeys.push(element.code);
			obj[element.code]=element;
	});
	rv.orderedKeys=orderedKeys;

	rv.obj=obj;
	return rv;
}


var s4tObj=processS4Tarray(s4tTermsES.sort(onWhat("orderDL")));
var s4tObjES=processS4Tarray(s4tTermsES.sort(onWhat("orderES")));

var mode=0;

var zeroToFive=["0","1","2","3","4","5"];




</script>

<style type="text/css">
body { font-family: Verdana; }
h1 {text-align: center;}
h2 {text-align: center;}
tr.dates { background-color: #FFCCCC;}
tr.shippingAddress { background-color: #FFFFCC;}
tr.deliveryInstructions { background-color: #CCFFCC;}
tr.returnAddress { background-color: #CCCCFF;}
tr.freightUnitInformation { background-color: #CCFFFF;}
tr.keyQualifiers { background-color: #FFCC99;}
tr.measurements { background-color: #D9D9D9;}
td.label {text-align: right; font-weight: 700;}
div.qrpanel1 {float: right; width: 49%;}
div.qrpanel2 {float: left; width: 49%;}
table#inputData {float: left;}
table#decodedData {float: right;}
textarea#dlOutput { width: 100%; font-size: 1em; height: 40px; overflow-y: scroll;}
textarea#elsOutput { width: 100%; font-size: 1em; height: 40px; overflow-y: scroll;}
textarea#dlInput { width: 100%; font-size: 1em; height: 40px; overflow-y: scroll;}
textarea#elsInput { width: 100%; font-size: 1em; height: 40px; overflow-y: scroll;}
td.s4tCode {text-align: center;}
input.maxWidth {width: 100%;}
div#stats {position: absolute;  right: 2%; width: 48%; height: 1em; text-align: center; }
div#navbar {width: 100%; height: 1.5em;}
input.navbutton {width: 49%; text-align: center;  font-weight: 700;}
input#encode { float: left; }
input#decode {float: right; }
.activeButton {background-color: #000099; color: #FFFFFF;}
.inactiveButton {background-color: #FFFFFF; color: #000099;}
table#size  tr th {text-align: center;}
div#inputform {width: 49%; float: left}
div#decoded {width: 49%; float: right}
canvas { background-color: #FFFFFF; margin-left: auto; margin-right: auto; display:none;}
#canvas1 {border: 4px solid #CCFFFF; }
#canvas0 {border: 16px solid #CCFFFF;}
.hidden {display: none;}
.visible {display: block;}
.selectCode {font-size: 1.2em; font-weight: 700;}
.selectErrorCorrection {font-size: 1em; font-weight: 700;}
.selectSST {font-size: 1.0em; font-weight: 400;}
#encodedData { max-width: 40vw; width: 40vw; height: 3em; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphenate-character: '&';}
tr.highlight {background-color: #FFFF66; }
.bold {font-weight: 700;}
tr.topline td {border-top: 1px solid black;}
tr.underline th {border-bottom: 1px solid black;}

input.needsAttention {background-color: #FFFF00;}
input.isOK {background-color: #FFFFFF;}


</style>
</head>
<body>

<div id="app1">

<h1>GS1 Module Count tool</h1>



<div id="inputform">

	<table id="inputData">
	<tbody>
	<tr><td>Choose 2D symbol</td><td colspan="3">
	<select v-model="whichCode" class="selectCode">
	<option value="0">QR code with GS1 Digital Link URI</option>
	<option value="1">GS1 Data Matrix with element string</option>
	</select>
	</td></tr>
	<tr v-if="whichCode==0">
	<td>Error correction</td><td colspan="3">
	<select v-model="errorCorrection" class="selectErrorCorrection">
	<option value="L">Low</option>
	<option value="M">Medium</option>
	<option value="Q">Quality</option>
	<option value="H">High</option>
	</select>	
	</td></tr>
	<tr v-if="whichCode==0"><td>Enter any URI (optional):</td><td colspan="3"><input type="text" class="maxWidth" v-model="specifiedURI"/><input type="button" value="Clear" @click="clearSpecifiedURI"></td></tr>
	
	<tr v-if="specifiedURI == ''"><td>GTIN</td><td colspan="2"><input class="maxWidth" type="text" v-model="primaryValue"></td><td><input type="button" value="demo" @click="demoData2(primaryAIobj.example)"></td></tr>
	<tr v-if="(specifiedURI == '') && (!gtinIs14digits)"><td></td><td colspan="3">^^ Please enter a GTIN as exactly 14 digits</td></tr>
	<tr v-if="(specifiedURI == '') && (((gtinCheckDigit !== null) && !(gtinCheckDigitIsValid)))"><td></td><td colspan="3">^^ Invalid GTIN check digit - should be <span v-if="gtinCheckDigit !== null">{{gtinCheckDigit}} <button @click="correctGTINcheckDigit()">Fix</button></span></td></tr>
	<tr v-if="specifiedURI == ''" ><td colspan="5">&nbsp;</td></tr>
	<tr v-if="(specifiedURI == '') && (whichCode==0)"><td>URI stem</td><td colspan="3"><input class="maxWidth" type="text" v-model="uriStem"></td></tr>
	<tr v-if="(specifiedURI == '') && (whichCode==0)"><td></td><td colspan="2"><select v-model="uriStemCase"><option value="unchanged">as typed</option><option value="allUpper">ALL UPPER CASE</option><option value="partUpper">UPPER CASE DOMAIN & PROTOCOL</option><option value="allLower">all lower case</option></select></td></tr>
	</tbody>
	</table>
	
	<table v-if="specifiedURI == ''">
	<thead>
	<tr><th colspan="3"></th><th>AI</th><th># chrs</th></tr>
	</thead>
	<tbody v-for="ex in dates">
	<tr class="dates">
		<td v-bind:title="ex.definition">{{ex.label}}</td>
		<td>
			<span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'"><input type="text" v-model="s4tData[ex.code]" class="maxWidth"></span>
			<span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'"><input class="date" type="date" v-model="s4tData[ex.code]"></span>
			<span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'"><select v-model="s4tData[ex.code]"><option value="1">Yes</option><option value="0">No</option></select></span>
		</td>
		<td><input type="button" value="demo" @click="demoData(ex.code)"><input type="button" value="clear" @click="clearData(ex.code)"></td>
		<td class="s4tCode">&nbsp;{{ex.code}}&nbsp;</td>
		<td></td>
	</tr>
	</tbody>
	
	<tbody v-if="specifiedURI == ''" v-for="ex in keyQualifiers">
	<tr class="keyQualifiers">
		<td v-bind:title="ex.definition">{{ex.label}}</td>
		<td>
			<span v-if="s4tObj.obj[ex.code].datatype=='xsd:string'"><input type="text" v-model="s4tData[ex.code]" class="maxWidth"></span>
			<span v-if="s4tObj.obj[ex.code].datatype=='xsd:date'"><input class="date" type="date" v-model="s4tData[ex.code]"></span>
			<span v-if="s4tObj.obj[ex.code].datatype=='xsd:boolean'"><select v-model="s4tData[ex.code]"><option value="1">Yes</option><option value="0">No</option></select></span>
			</td>
		<td><input type="button" value="demo" @click="demoData(ex.code)"><input type="button" value="clear" @click="clearData(ex.code)"></td>
		<td class="s4tCode">&nbsp;{{ex.code}}&nbsp;</td>
		<td>{{strlen(s4tData[ex.code])}} of {{ex.maxLength}}</td>
	</tr>
	<tr v-if="((ex.code == '22') && !(validLotOrSerial(cpv)))"><td></td><td colspan="3">^^ {{cpv}} is invalid.  A valid consumer product variant number should not exceed 20 characters, all from the GS1 82-character encodable character set</td></tr>
	<tr v-if="((ex.code == '10') && !(validLotOrSerial(lot)))"><td></td><td colspan="3">^^ {{lot}} is invalid.  A valid batch/lot number should not exceed 20 characters, all from the GS1 82-character encodable character set</td></tr>
	<tr v-if="((ex.code == '21') && !(validLotOrSerial(serial)))"><td></td><td colspan="3">^^ {{serial}} is invalid.  A valid serial number should not exceed 20 characters, all from the GS1 82-character encodable character set</td></tr>
	</tbody>
	</table>
	
	<table>
	<tbody>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr><td style="vertical-align: top;">Where scanned?</td><td colspan="3">
	<select v-model="whichSST" class="selectSST" @change="updateSelectSST2()">
	<option value="0">General retail POS AND general distribution</option>
	<option value="1">ONLY General retail POS, NOT in general distribution</option>
	</select>
	<p>(Using {{sstRef[whichSST]}}<br/>of GS1 General Specifications &sect;{{sstSection[whichSST]}})</p>
	</tr>
	<tr><td colspan="4"><p style="text-align:center;">2D barcode generated using<br><a href="https://github.com/metafloor/bwip-js/" target="_blank">https://github.com/metafloor/bwip-js/</a><br/>&nbsp;<br/>For questions/feedback about this tool,<br>please contact <a href="mailto:mark.harrison@gs1.org">mark.harrison@gs1.org</a><br/></p></td></tr>

	</table>

</div>

<div class="qrpanel1" v-if="mode==0">
	<textarea id="dlOutput" v-if="whichCode==0" :value="gs1dlURI" @change="changedDLoutput($event)"></textarea>
	<textarea id="elsOutput" v-if="whichCode==1" :value="gs1elementString" @change="changedESoutput($event)"></textarea>
	<div v-if="this.primaryValue !== '' || this.specifiedURI !== ''" id="stats"><p>{{moduleCount}}x{{moduleCount}} modules plus a quiet zone of {{whichCode==0 ? "4 modules" : "1 module"}} on each side.</p>

	<table style="margin-left: auto; margin-right: auto;">
	<tbody>
	<tr v-if="(imgDataURL !== undefined) && (imgDataURL !== null) && (imgDataURL !== '')"><td colspan="5">&nbsp;</td></tr>
	<tr v-if="(imgDataURL !== undefined) && (imgDataURL !== null) && (imgDataURL !== '')"><td colspan="5" text-align="center"><img :src="imgDataURL" :style="imgBorderStyle"/></td></tr>
	<tr v-if="quietZone == 0"><td colspan="5">&nbsp;</td></tr>
	<tr><td colspan="5">&nbsp;</td></tr>
	</tbody>
	</table>
	<div v-if="whichCode==0">

    <hr/>
	    <p>
	        <select v-model="whichSST2" class="selectSST">
            	<option value="0">General retail POS AND general distribution</option>
            	<option value="1">ONLY General retail POS, NOT in general distribution</option>
        	</select>&nbsp;
        	<select v-model="quietZone2" class="selectSST">
        		<option value="0">excluding quiet zone</option>
        		<option value="1">including quiet zone</option>
        	</select>
        	</p>
	    <table>
	        <thead><tr class="underline"><th>Error correction</th><th v-if="quietZone2==0">Module Count excluding quiet zone</th><th  v-if="quietZone2==1">Module Count including quiet zone</th><th>Minimum size (mm)</th><th>Target size (mm)</th><th>Maximum size (mm)</th></tr></thead>
	        <tbody>
	            <tr v-for="k of Object.keys(countModulesEncodedData)" v-bind:class="{ highlight: (k == errorCorrection) }"><td>{{k}}</td><td  v-if="quietZone2==0">{{countModulesEncodedData[k]}} x {{countModulesEncodedData[k]}}</td><td  v-if="quietZone2==1">{{8+countModulesEncodedData[k]}} x {{8+countModulesEncodedData[k]}}</td><td>{{symbolSizeMinimum2(8*quietZone2+countModulesEncodedData[k])}}</td><td>{{symbolSizeTarget2(8*quietZone2+countModulesEncodedData[k])}}</td><td>{{symbolSizeMaximum2(8*quietZone2+countModulesEncodedData[k])}}</td></tr>
	            <tr class="topline"><td colspan="2" class="bold">Module x-dimensions (mm) &#10132;</td><td>{{symbolSizeMinimum2(1)}}</td><td>{{symbolSizeTarget2(1)}}</td><td>{{symbolSizeMaximum2(1)}}</td></tr>
				<tr class="underline"><td colspan="5">&nbsp;</td></tr>
	        </tbody>
	    </table>
	
	
	</div>
	<div v-if="(whichCode==1) && (gs1elementString !== undefined) && (gs1elementString !== '')">
	    <hr/>
	    <p>
	        <select v-model="whichSST2" class="selectSST">
            	<option value="0">General retail POS AND general distribution</option>
            	<option value="1">ONLY General retail POS, NOT in general distribution</option>
        	</select>&nbsp;
        	<select v-model="quietZone2" class="selectSST">
        		<option value="0">excluding quiet zone</option>
        		<option value="1">including quiet zone</option>
        	</select>
        	</p>
	    <table>
	        <thead><tr  class="underline"><th v-if="quietZone2==0">Module Count excluding quiet zone</th><th  v-if="quietZone2==1">Module Count including quiet zone</th><th>Minimum size (mm)</th><th>Target size (mm)</th><th>Maximum size (mm)</th></tr></thead>
	        <tbody>
	            <tr class="highlight">
	                <td  v-if="quietZone2==0">{{countModules(gs1elementString)}} x {{countModules(gs1elementString)}}</td>
	                <td  v-if="quietZone2==1">{{2+countModules(gs1elementString)}} x {{2+countModules(gs1elementString)}}</td>
	                <td>{{symbolSizeMinimum2(2*quietZone2+countModules(gs1elementString))}}</td><td>{{symbolSizeTarget2(2*quietZone2+countModules(gs1elementString))}}</td><td>{{symbolSizeMaximum2(2*quietZone2+countModules(gs1elementString))}}</td></tr>
	            <tr class="topline"><td class="bold">Module x-dimensions (mm) &#10132;</td><td>{{symbolSizeMinimum2(1)}}</td><td>{{symbolSizeTarget2(1)}}</td><td>{{symbolSizeMaximum2(1)}}</td></tr>
	        </tbody>
	    </table>
	    
	</div>
	<br>
	<hr/>
	<p>This 2D barcode is now also available in Scalable Vector Graphics (SVG) format</p>
	<p><button @click="openSVG">Open in new browser tab</button>&nbsp;&nbsp;<button @click="copySVG">Copy SVG data to the clipboard</button>&nbsp;&nbsp;<a :href="imgSVGurl" v-bind:download="downloadName"><button>Download locally as SVG file</button></a></p>

</div> 


</div>



<script language="javascript">

	var gtin="";
	var uriStem="https://example.com";
	var s4tData={};
	var qrURI="blank.png";
	var gs1dlURI2decode="";
	var gs1els2decode="";
	var booleans={"1":"Yes","0":"No",undefined:""};
	var primary="GTIN";
	var primaryValue="";
	var shipDemo="shipDemoMenu";
	var returnDemo="returnDemoMenu";
    var gs1dlt = new GS1DigitalLinkToolkit();
	var showDLQR = true;
	var uriStemCase="unchanged";


function updateCanvas(code,stringToEncode,errorCorrection) {
	try {
	
		let o={
				bcid:        code,       // Barcode type
				text:        stringToEncode,    // Text to encode
				scaleX:       2,               // 3x scaling factor
				scaleY:       2,               // 3x scaling factor
				includetext: false,            // Show human-readable text
				textxalign:  'center',        // Always good to set this
			};
		if (errorCorrection !== null) {
			o.eclevel=errorCorrection;
		}
		
		let elem2 = document.createElement('canvas');
			
		// The return value is the canvas element
		let canvas2 = bwipjs.toCanvas(elem2, o);
		let dataURL = canvas2.toDataURL('image/png');
		let svg = bwipjs.toSVG(o);
		
		return {"modules":canvas2.width/4,"dataURL":dataURL,"svg":svg };		
	} catch (e) {
		// `e` may be a string or Error object
	}

}

	let validLotOrSerial = function(el) {
		let re10=/^[!%-?A-Z_a-z\x22]{0,20}$/;
		return (re10.test(el));
	}


function percentEncode(el) {
	let rv=[];
	const toEscape="#/%&+,!()*':;<>=?";
	for (let i=0; i<el.length; i++ ) {
		let c=el.charAt(i);
		   if (toEscape.indexOf(c) > -1) {
		   		rv.push('%'+el.charCodeAt(i).toString(16).toUpperCase());
		   } else {
				rv.push(c);   
		   }
		
	}
	return rv.join("");
}


	Vue.createApp({
		data() {
          return {
			s4tTermsES: s4tTermsES,
			s4tPrimaryIdentifiers : s4tPrimaryIdentifiers,
			gtin: gtin,
			primary: primary,
			primaryValue: primaryValue,
			uriStem: uriStem,
			s4tData: s4tData,
			mode: mode,
			booleans: booleans,
			zeroToFive: zeroToFive,
			gs1dlURI2decode : gs1dlURI2decode,
			gs1els2decode : gs1els2decode,
			shipDemo : shipDemo,
			returnDemo : returnDemo,
			whichCode : 0,
			errorCorrection : "M",
			whichSST : "0",
			whichSST2 : "0",
			gs1dlt : gs1dlt,
			showDLQR : showDLQR,
			validLotOrSerial : validLotOrSerial,
			uriStemCase : uriStemCase,
			sstRef : {"0":"table 3 addendum 1","1":"table 1 addendum 2"},
			sstFig : {"0":"5.12.3.3-2","1":"5.12.3.1-3"},
			sstSection : {"0":"5.12.3.3","1":"5.12.3.1"},
			minX : {"0":0.743,"1":0.396},
			targetX : {"0":0.990,"1":0.495},
			maxX : {"0":0.990,"1":0.990},
			quietZone : 1,
			quietZone2 : 1,
			specifiedURI : ""
          } 
		},
		computed : {
			canvasVisibilityClass : function() {
				return (((this.primaryValue == "") && (this.specifiedURI == "")) ? "hidden": "visible")
			},
		
			primaryAIobj: function() {
				return this.s4tPrimaryIdentifiers.filter(filterByLabel(this.primary))[0];
			},
			s4tObj : function() {
				return processS4Tarray(s4tTermsES.sort(onWhat("orderDL")));
			},
			s4tObjES : function() {
				return processS4Tarray(s4tTermsES.sort(onWhat("orderES")));
			},

			s4tDataJSON : function() {
				return JSON.stringify(this.s4tData);
			},

			keyQualifiers: function() {
				return s4tTermsES.filter(filterByGrouping("KeyQualifiers"));
			},
			dates: function() {
				return s4tTermsES.filter(filterByGrouping("Dates"));
			},
			
			pathInfo: function() {
			 let rv="";
			 for (kq in this.keyQualifiers) {
			 	if ((this.s4tData.hasOwnProperty(this.keyQualifiers[kq].code))  && (this.s4tData[this.keyQualifiers[kq].code] !== "") && validLotOrSerial(this.s4tData[this.keyQualifiers[kq].code])) {
			 	   rv+= "/"+this.keyQualifiers[kq].code+"/"+percentEncode(this.s4tData[this.keyQualifiers[kq].code]);
			 	}
			 }
			 return rv;
			},
			

			gtinIs14digits: function() {
				let re=/^[0-9]{14}$/;
				return re.test(this.primaryValue);
			},
			
			gtinCheckDigit: function() {
				if (this.gtinIs14digits) {
				return gs1dlt.calculateCheckDigit('01',this.primaryValue);
				} else {
				return null;
				}
			},

			gtinCheckDigitIsValid: function() {
				return ((this.gtinCheckDigit !== null) && (this.gtinCheckDigit == this.primaryValue.substr(13,1)));
			},
			
			
			isValidGTIN : function() {
				return this.gtinIs14digits && this.gtinCheckDigitIsValid;
			},


			lot: function() {
				return this.s4tData["10"];
			},

			serial: function() {
				return this.s4tData["21"];
			},

			cpv: function() {
				return this.s4tData["22"];
			},


			dataExtracted: function() {
				if (this.whichCode ==0) {
				return gs1dlt.extractFromGS1digitalLink(this.gs1dlURI2decode);
				} else {
				return gs1dlt.extractFromGS1elementStrings(this.gs1els2decode);
				}
			},
	
			
			s4tDetected : function() {
				let rv="No";
				if (this.whichCode ==0) {
				if (this.gs1dlURI2decode.slice(-4) == "&s4t") {
				rv="Yes";
				}
				}
				return rv;
			},


			
			primaryValueExtracted : function() {
				let pathInfo="";
				let rv={};
				let c={"01":"GTIN"};
				let digits=new RegExp("^(\\d+?)");
				if (this.whichCode ==0) {
				
					if (this.gs1dlURI2decode !== undefined && this.gs1dlURI2decode !== null && this.gs1dlURI2decode !== "") {
						var obj2=gs1dlt.extractFromGS1digitalLink(this.gs1dlURI2decode);

						rv.code="01";
						rv.value=obj2["01"];

/*						var inq = this.gs1dlURI2decode.indexOf("?");
						if (inq== -1) {
							pathInfo = this.gs1dlURI2decode;
						} else {
							pathInfo = this.gs1dlURI2decode.substr(0,this.gs1dlURI2decode.indexOf("?"));
						}
						var rePath=new RegExp("\\/(gtin|01)\\/(\\d{4}.+?)$");
						if (rePath.test(pathInfo)) {
							let code=pathInfo.match(rePath)[1].toUpperCase();
							if (digits.test(code)) {
								code=c[code];
							}			
							rv.code=code;	
							rv.value=pathInfo.match(rePath)[2];
						} else {
							rv.code="";
							rv.value="";
						}
*/


					}
				
				} else {
						let qso={};
						let els=this.gs1els2decode;
						let splits=els.match(/(\(\d{2,4}\))|([^(]+)/g);
						for (let i=0; i<splits.length/2; i++) {
							let k=splits[i*2].replace(/[()]/g,"");
							let v=splits[1+i*2].replace(/\+/g,"%20");
							qso[k]=decodeURIComponent(v);;
						}
						rv.code="GTIN";
						rv.value=qso["01"];
				
				}
				return rv;
			},
			uriStemExtracted: function() {
				var uriStem="";
				if (this.whichCode ==0 ) {
					if (this.gs1dlURI2decode !== undefined && this.gs1dlURI2decode !== null && this.gs1dlURI2decode !== "") {
						var inq = this.gs1dlURI2decode.indexOf("?");
						if (inq== -1) {
							pathInfo = this.gs1dlURI2decode;
						} else {
							pathInfo = this.gs1dlURI2decode.substr(0,this.gs1dlURI2decode.indexOf("?"));
						}
						var rePath=new RegExp("\\/(gtin|01)\\/(\\d{4}.+?)$");
					
						if (rePath.test(pathInfo)) { 
							let l=pathInfo.match(rePath)[0].length;
							uriStem = pathInfo.substr(0,pathInfo.length-l);
						}						
					}
				}
				return uriStem;				
			},
			
			queryString: function() {
				s4to=JSON.parse(this.s4tDataJSON);
				kvPairs=[];
				s4tObj.orderedKeys.forEach(function(k) {
				let xc = this.primaryAIobj;
				
					if (!((k == "10") || (k== "21") || (k== "22"))) {
				
						if ((s4to.hasOwnProperty(k)) && (s4to[k] !== "")) {
							var valToEncode="";
							if (this.s4tObj.obj[k].datatype=="xsd:date") {							
								valToEncode=gs1date(s4to[k]);
							}
							if (this.s4tObj.obj[k].datatype=="xsd:dateTime") {							
								valToEncode=gs1dateTime(s4to[k]);
							}
							if (this.s4tObj.obj[k].datatype=="gs1:Measurement") {
								var rv=gs1measurement(s4to[k]);
								valToEncode = rv.sixdigit;
								k=k.replace("n",rv.ndp);
							}
							if (valToEncode ==  "") {
								valToEncode=encodeURIComponent(s4to[k]);
							}
						
							kvPairs.push(k+"="+valToEncode);
					
						}
					}
				
				});
				return kvPairs.join("&");
			},
			gs1dlURI: function() {
				let dl = "";
				if (this.specifiedURI !== "") {
			        dl= this.specifiedURI;   
			    } else {
				let uriStem=this.uriStem.replace(/\/$/,"");
				let uriStem2 = uriStem;
				if (this.uriStemCase == "allUpper") {
					uriStem2 = uriStem.toUpperCase();
				}
				if (this.uriStemCase == "allLower") {
					uriStem2 = uriStem.toLowerCase();
				}
				if (this.uriStemCase == "partUpper") {
					let firstSlash=uriStem.indexOf("/",8);
					if (firstSlash >0) {
						uriStem2 = uriStem.substr(0,firstSlash).toUpperCase()+uriStem.substr(firstSlash);	
					} else {
						uriStem2 = uriStem.toUpperCase();
					}
				}
				let qs=this.queryString.replace(/\%20/g,"+");

				if (this.primaryValue !== "") {
					dl = uriStem2+"/"+this.primaryAIobj.code+"/"+this.primaryValue+this.pathInfo;
					
					if (qs !== "") {
					  dl+="?"+qs;
					}
				}
				// this.generateQR(dl);
				this.gs1dlURI2decode = dl;
			    }
				return dl;
			},
			gs1elementString: function() {
				let rv="";
				if ((this.primaryValue !== "") && (this.isValidGTIN)) {
				rv="(01)"+this.primaryValue;
				s4to=JSON.parse(this.s4tDataJSON);
				kvPairs=[];
				
				
				s4tObjES.orderedKeys.forEach(function(k) {
				let xc = this.primaryAIobj;
				
				
					if ((s4to.hasOwnProperty(k)) && (s4to[k] !== "")) {
						var valToEncode="";
						if (this.s4tObj.obj[k].datatype=="xsd:date") {							
							valToEncode=gs1date(s4to[k]);
						}
						if (this.s4tObj.obj[k].datatype=="xsd:dateTime") {							
							valToEncode=gs1dateTime(s4to[k]);
						}
						if (this.s4tObj.obj[k].datatype=="gs1:Measurement") {
							var rv=gs1measurement(s4to[k]);
							valToEncode = rv.sixdigit;
							k=k.replace("n",rv.ndp);
						}

						let encodable=true;
						if (valToEncode ==  "") {
							// don't percent-encode in element string for non-S4T AIs.
							valToEncode=s4to[k];
							if (  (k=="22")&&(!(validLotOrSerial(valToEncode))) || (k=="10")&&(!(validLotOrSerial(valToEncode)))  ||  (k=="21")&&(!(validLotOrSerial(valToEncode)))  )  {
								encodable=false;
								// do not concatenate an invalid lot/batch or serial number
							} else {
								valToEncode=s4to[k];
							}
						}
						
					    	if (encodable) { kvPairs.push("("+k+")"+valToEncode); }
					}



				});
				rv+=kvPairs.join("");
				}
				this.gs1els2decode = rv;
				return rv;
			},
			
			"encodedData" : function() {
				if (this.mode == 0) {
					if (this.specifiedURI !== "") { return this.specifiedURI } else { return this.gs1dlURI }
				}
				if (this.mode == 1) {
					return this.gs1elementString;
				}
			},
			
			"res1" : function() {
			
			    if (this.mode==0) {
					if (this.specifiedURI == "") {
						return updateCanvas("qrcode",this.gs1dlURI,this.errorCorrection);					
					} else {
						return updateCanvas("qrcode",this.specifiedURI,this.errorCorrection);					
					}
				
				} else {
				if (this.gs1dlURI2decode == "") {  this.gs1dlURI2decode = this.gs1dlURI }
				return updateCanvas("qrcode",this.gs1dlURI2decode,this.errorCorrection);
				}
			},
			"res2" : function() {
			    if (this.mode==0) {
				return updateCanvas("gs1datamatrix",this.gs1elementString,null);
				} else {
				if (this.gs1els2decode == "") { this.gs1els2decode = this.gs1elementString; }
	 			return updateCanvas("gs1datamatrix",this.gs1els2decode,null);
				}
			},

			
			
			moduleCount: function() {
				if (this.whichCode==0) { return this.res1.modules; }
				if (this.whichCode==1) { return this.res2.modules; }
			},

			imgDataURL: function() {
				if (this.whichCode==0) { return this.res1.dataURL; }
				if (this.whichCode==1) { return this.res2.dataURL; }
			},

			imgSVG: function() {
				if (this.whichCode==0) { return this.res1.svg; }
				if (this.whichCode==1) { return this.res2.svg; }
			},
			
			imgSVGurl: function() {
				let blob = new Blob([this.svgComment+this.imgSVG], { type: "image/svg+xml" });
				let url = URL.createObjectURL(blob);
				return url;
			},
			
			imgBorderStyle: function() {
				if (this.quietZone == 1) {
					if (this.whichCode==0) { return "border: 16px solid #CCFFFF;"; }
					if (this.whichCode==1) { return "border: 4px solid #CCFFFF;"; }		
				}	
			},
			
			
			symbolSizeMinimum: function() {
				return Math.floor((this.moduleCount+this.quietZone*(this.whichCode==0 ? 8:2)) * this.minX[this.whichSST]*1000)/1000;
			},
			symbolSizeTarget: function() {
				return Math.floor((this.moduleCount+this.quietZone*(this.whichCode==0 ? 8:2)) * this.targetX[this.whichSST]*1000)/1000;
			},
			symbolSizeMaximum: function() {
				return Math.floor((this.moduleCount+this.quietZone*(this.whichCode==0 ? 8:2)) * this.maxX[this.whichSST]*1000)/1000;
			},
			
			countModulesEncodedData: function() {
			    return this.countModules(this.encodedData);
			},
			
			downloadName: function() {

				let u=this.encodedData.replace(/[^A-Za-z0-9]/g,"_");
				
				
				if (this.whichCode == 0) {
					return "QR-"+u+"_ec_"+this.errorCorrection+".svg";
				}
				if (this.whichCode == 1) {
					return "GS1_DataMatrix-"+u+".svg";
				}
			},
			
			
			
			svgComment: function() {
				if (this.whichCode == 0) {
					return "<!-- generated for "+this.gs1dlURI+" with error correction: "+this.errorCorrection+" -->\n";
				}
				if (this.whichCode == 1) {
					return "<!-- generated for "+this.gs1elementString+" -->\n";
				}
			}
			
		
		},
		methods: {


			openSVG : function() {
			  const win = open(this.imgSVGurl);
			},
			
			copySVG : function() {
				navigator.clipboard.writeText(this.svgComment+this.imgSVG);
			},

			
		    
		    updateSelectSST2: function() {
		        this.whichSST2 = this.whichSST;
		    },

			symbolSizeMinimum2: function(mc) {
				return Math.floor(mc*this.minX[this.whichSST2]*1000)/1000;
			},
			symbolSizeTarget2: function(mc) {
				return Math.floor(mc*this.targetX[this.whichSST2]*1000)/1000;
			},
			symbolSizeMaximum2: function(mc) {
				return Math.floor(mc*this.maxX[this.whichSST2]*1000)/1000;
			},

		    
		    countModules : function(val) {
			    let rv={};
				if (this.whichCode==0) { 
				    if (this.mode==0) {
						    for (c of ["L","M","Q","H"]) {
						        rv[c]=updateCanvas("qrcode",val,c)?.modules;
						    }

    				} else {
        				if (this.gs1dlURI2decode == "") {  this.gs1dlURI2decode = this.gs1dlURI }
               				rv=updateCanvas("qrcode",this.gs1dlURI2decode,this.errorCorrection);
    				}

				    
				}
				if (this.whichCode==1) { 

    			    if (this.mode==0) {
	        			rv= updateCanvas("gs1datamatrix",val,null)?.modules;
			    	} else {
				        if (this.gs1els2decode == "") { this.gs1els2decode = this.gs1elementString; }
	 			        rv= updateCanvas("gs1datamatrix",this.gs1els2decode,null).modules;
				    }

				}
				
				return rv;
		    },
		
		    clearSpecifiedURI : function() {
		    	this.specifiedURI="";
		    },

			strlen: function(el) {
				if (el !== undefined) {
					return el.length;
				} else {
					return 0;
				}
			},


			correctGTINcheckDigit: function() {
				this.primaryValue = this.primaryValue.substr(0,13)+this.gtinCheckDigit;
			},

		    demoShipAddress: function(event) {
		    	let newValue = event.target.value;
				let a=["4300","4301","4302","4303","4304","4305","4306","4307","420"];
		    	if (newValue == "clear") {
		    		for (i in a) {
		    			this.s4tData[a[i]]="";
		    		}
		    	} else {
					let o = JSON.parse(newValue);
					let i;
					for (i in a) {
						this.s4tData[a[i]]="";
						this.s4tData[a[i]]=o[a[i]];
					}
		    	}
		    },

		    demoReturnAddress: function(event) {
		    	let newValue = event.target.value;
				let a=["4300","4301","4302","4303","4304","4305","4306","4307","420"];
				let m={"4300":"4310","4301":"4311","4302":"4312","4303":"4313","4304":"4314","4305":"4315","4306":"4316","4307":"4317","420":"4318"};
		    	if (newValue == "clear") {
		    		for (i in a) {
		    			this.s4tData[m[a[i]]]="";
		    		}
		    	} else {
					let o = JSON.parse(newValue);
					let i;
					for (i in a) {
		    			this.s4tData[m[a[i]]]="";
		    			this.s4tData[m[a[i]]]=o[a[i]];
					}
		    	}
		    },
		
			changedDLoutput: function(event) {
				let newValue = event.target.value;
				this.gs1dlURI2decode = newValue;
				this.gs1dlURI = newValue;
				
			},
		
			clearPrimaryIdentifierValues: function() {
				this.s4tPrimaryIdentifiers.forEach(function(el) {
		    	this.s4tData[el.code]="";
				});
				this.primaryValue="";
			},
			demoData: function(el) {
				var demoVal = s4tObj.obj[el].example;
					this.s4tData[el]=demoVal;
				
			},
			clearData: function(el) {
					this.s4tData[el]="";				
			},
			demoData2: function(demoVal) {
				this.primaryValue=demoVal;
			},
			gs1ToMeasurement: function(dataExtracted,code) {
				var rv={};
				this.zeroToFive.forEach(function(el) {
					var tempCode=code.replace("n",el);
					if (dataExtracted.hasOwnProperty(tempCode)) {
						rv.value=dataExtracted[tempCode]/Math.pow(10,parseInt(el));
						rv.code=tempCode;
					}
				});
				return rv;
			},
			gs1date3: function(gs1Date) {
				var rv="";
				var regexDate= new RegExp("^\\d{6}$");
				if (gs1Date !== undefined && regexDate.test(gs1Date)) {
				var doubleDigits = gs1Date.split(/(\d{2})/);
				// TODO determine this correctly based on whether >=51 - see Gen Specs
				var year=parseInt(doubleDigits[1]);
				
				var currentYear=new Date().getFullYear().toString();
				var currentLastYY=parseInt(currentYear.substr(-2));
				var currentFirstYY=parseInt(currentYear.substr(0,2));
				
				var diff=year-currentLastYY;
				var fullyear=currentFirstYY.toString()+year.toString();
				if (diff >=51 && diff <= 99) {
					fullyear=(currentFirstYY-1).toString()+year.toString();
				}
				if (diff >= -99 && diff <= -50) {
					fullyear=(currentFirstYY+1).toString()+year.toString();
				}
				
				if (fullyear !== undefined) {
				rv=doubleDigits[5]+"/"+doubleDigits[3]+"/"+fullyear;
				}
				}
				return rv;
			},
			gs1date4: function(gs1Date) {
				var rv="";
				var regexDate= new RegExp("^\\d{6}|\\d{8}|\\d{10}$");
				if (gs1Date !== undefined && regexDate.test(gs1Date)) {
				var doubleDigits = gs1Date.split(/(\d{2})/);
				// TODO determine this correctly based on whether >=51 - see Gen Specs
				var year=parseInt(doubleDigits[1]);
				
				var currentYear=new Date().getFullYear().toString();
				var currentLastYY=parseInt(currentYear.substr(-2));
				var currentFirstYY=parseInt(currentYear.substr(0,2));
				
				var diff=year-currentLastYY;
				var fullyear=currentFirstYY.toString()+year.toString();
				if (diff >=51 && diff <= 99) {
					fullyear=(currentFirstYY-1).toString()+year.toString();
				}
				if (diff >= -99 && diff <= -50) {
					fullyear=(currentFirstYY+1).toString()+year.toString();
				}
				
				var hour="00";
				var min="00";
				if (gs1Date.length > 6) {
				hour=doubleDigits[7];
				}
				if (gs1Date.length > 8) {
				min=doubleDigits[9];
				}
				
				if (fullyear !== undefined) {
				rv=doubleDigits[5]+"/"+doubleDigits[3]+"/"+fullyear+" "+hour+":"+min;
				}
				}
				return rv;
			},
			
			
			setMode: function(el) {
				this.mode=el;
				var qrc=document.getElementById("symbol2D");
				if (el==1) {
					qrc.style.left="0%";
				} else {
					qrc.style.left="50%";
				}
			},
			booleanValue: function(el) {
				return this.booleans[el];
			}		
		}
		
		}).mount("#app1");



</script>

</body>
</html>
